@import url(https://fonts.googleapis.com/css?family=Kalam:400,700,300);

html{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
  background-color: #E6E6E6;
  margin: 0;
  padding: 0;
}

header{
  background-color: #0099FF;
  margin-bottom: 50px;
  padding: 10px;
}

header button{
  border-radius: 5px;
  cursor: pointer;
  background-color: #0099FF;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

header button:hover{
  background-color: white;
  color: #0099FF;
}

ul{
  list-style: none;
}

#grplist:hover{
  color: gray;
  cursor: default;
}

h1{
  text-align: center;
  margin-bottom: 70px;
  margin-top: 50px;
  font-size: 40px;
  font-family: kalam;
  font-weight: bold;
}

#authForm{
  display: block;
  text-align: center;
}

#authForm form{
  display: inline-block;
}

#authForm form input{
  font-size: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

#authForm p{
  font-size: 15px;
}

#authForm button{
  float: left;
  
}

#authForm #primary{
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: #00BFFF;
  color: white;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  
}

#authForm #primary:hover{
  background-color: #00B0EB;
}

#authForm #secondary{
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: #ADADAD;
  color: white;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}

#authForm #secondary:hover{
  background-color: #A1A1A1;
}
